<!DOCTYPE html>
<html lang="en">
<head>
    <title>Forgot Password</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/Style.css">
    <script rel="script" type="text/javascript" href="../JS/Script.js"></script>
</head>
<body>
<div class="container, top-margin">
    <div class="row">
        <div class="col-md-12">
            <form>
                <img class="float-middle" src="../images/bodevlogo.png">
                <div class="form-group, padding-top">
                    <label for="InputEmail"><b>Email</b></label>
                    <input type="email" class="form-control" id="InputEmail" placeholder="Enter your Username or E-mail adress">
                </div>
                <button type="submit" class="btn btn-primary, float-middle, top-margin">Recover my password</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>